.nav-router a {
    font-size: 0.95rem;
    text-align: justify;
    text-decoration: none;  /* Remover sublinhado do link */
    font-weight: bold;      /* Peso da fonte */
  }
  
  .nav-router a:hover {
    color: #0056b3; /* Cor do link ao passar o mouse */
  }