.dashboard {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.registros {
    margin-bottom: 30px;
}


.open-door {
    margin-bottom: 50px;
}

.door-functions {
    height: 50vh;
    margin-left: 150px;
}

.open-close {
    font-size: large;
    color: white;
}

.status {
    padding: 10px;
    display: flex;
    text-align: center;
}

.titulo {
    font-size: 24px;
}
