.formulario {
  padding: 20px;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;  
}

.error-message {
  text-align: center;
  color: red;
}

#botao {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33);
  border-radius: 5px;
}     

a {
  padding-top: 10px;
  display: block;
  text-align: center;
  font-size: .8rem;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}