html, body {
    height: 100vh;
    width: 100vw;
}

body{
    background-image: url(./static/background_image_2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}
